<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="https://i.ibb.co/Q9RddYC/image.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <title>Telebon</title>
</head>
<style>
  body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    line-height: 1.15;
    font-weight: 400;
    font-family: 'Inter';
  }
  p {
    margin: 0;
    padding: 0;
  }
  .content {
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    box-sizing: border-box;
  }
  .icon-wrap {
    display: inline-block;
    margin-bottom: 6px;
  }
  .button {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    padding: 12px 24px;
    min-width: 312px;
    background-color: #008BAA;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 23.47px;
    border-radius: 8px;
    border: 1px solid #0000001A;
  }
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-grow: 1;
  }
  .bottom {

    margin-top: auto;

  }
  .text-wrap {
    display: flex;
    align-items: center;
  }
  .main-text {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-align: center;
  }
  .text {
    color: #767676;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.10000000149011612px;
text-align: center;

  }
  .bottom-text {
font-size: 16px;
font-weight: 600;
line-height: 24px;
color: #AAAAAA;
  }
  @media (max-width: 768px) {
    .main-text {
      width: 70%;
    }
    .text-wrap {
      flex-direction: column;
    }
  }
</style>
<body>
  <div class="content">
    <div class="top">
      <span>
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M24 0C24.2269 0 24.4255 0.0799999 24.5957 0.24C24.766 0.400002 24.9078 0.586668 25.0213 0.800001V2.4H28.9362C29.7305 2.4 30.4113 2.66667 30.9787 3.2C31.5461 3.73333 31.8865 4.42667 32 5.28V29.12C32 29.8667 31.7163 30.5333 31.1489 31.12C30.5816 31.7067 29.9007 32 29.1064 32H3.06383C2.2695 32 1.58865 31.7333 1.02128 31.2C0.453901 30.6667 0.113475 30.0267 0 29.28V5.44C0 4.69333 0.283688 4.02667 0.851064 3.44C1.41844 2.85333 2.09929 2.50667 2.89362 2.4H6.97872V0.960001C6.97872 0.746668 7.0922 0.533335 7.31915 0.320002C7.5461 0.106667 7.77305 0 8 0C8.22695 0 8.4539 0.0799999 8.68085 0.24C8.9078 0.400002 9.02128 0.586668 9.02128 0.800001V2.4H22.9787V0.960001C22.9787 0.746668 23.0638 0.533335 23.234 0.320002C23.4043 0.106667 23.6596 0 24 0ZM29.9574 11.36H2.04255V29.12C2.04255 29.3333 2.12766 29.52 2.29787 29.68C2.46809 29.84 2.66667 29.9733 2.89362 30.08H28.9362C29.1631 30.08 29.3901 30 29.617 29.84C29.844 29.68 29.9574 29.44 29.9574 29.12V11.36ZM23.4894 21.12C23.7163 21.12 23.8865 21.28 24 21.6V24.64C24 24.8533 23.8298 25.0133 23.4894 25.12H20.4255C20.1986 25.12 20.0284 24.96 19.9149 24.64V21.6C19.9149 21.3867 20.0851 21.2267 20.4255 21.12H23.4894ZM17.5319 21.12C17.7589 21.12 17.9291 21.28 18.0426 21.6V24.64C18.0426 24.8533 17.8723 25.0133 17.5319 25.12H14.4681C14.2411 25.12 14.0709 24.96 13.9574 24.64V21.6C13.9574 21.3867 14.1277 21.2267 14.4681 21.12H17.5319ZM11.5745 21.12C11.8014 21.12 11.9716 21.28 12.0851 21.6V24.64C12.0851 24.8533 11.9149 25.0133 11.5745 25.12H8.51064C8.28369 25.12 8.11347 24.96 8 24.64V21.6C8 21.3867 8.17021 21.2267 8.51064 21.12H11.5745ZM11.5745 15.2C11.8014 15.2 11.9716 15.36 12.0851 15.68V18.72C12.0851 18.9333 11.9149 19.0933 11.5745 19.2H8.51064C8.28369 19.2 8.11347 19.04 8 18.72V15.68C8 15.4667 8.17021 15.3067 8.51064 15.2H11.5745ZM17.5319 15.2C17.7589 15.2 17.9291 15.36 18.0426 15.68V18.72C18.0426 18.9333 17.8723 19.0933 17.5319 19.2H14.4681C14.2411 19.2 14.0709 19.04 13.9574 18.72V15.68C13.9574 15.4667 14.1277 15.3067 14.4681 15.2H17.5319ZM23.4894 15.2C23.7163 15.2 23.8865 15.36 24 15.68V18.72C24 18.9333 23.8298 19.0933 23.4894 19.2H20.4255C20.1986 19.2 20.0284 19.04 19.9149 18.72V15.68C19.9149 15.4667 20.0851 15.3067 20.4255 15.2H23.4894ZM6.97872 4.48H3.06383C2.83688 4.48 2.60993 4.56 2.38298 4.72C2.15603 4.88 2.04255 5.06667 2.04255 5.28V9.28H29.9574V5.44C29.9574 5.12 29.8723 4.88 29.7021 4.72C29.5319 4.56 29.3333 4.48 29.1064 4.48H25.0213V5.92C25.0213 6.13333 24.9078 6.34667 24.6809 6.56C24.4539 6.77333 24.2269 6.88 24 6.88C23.773 6.88 23.5461 6.8 23.3191 6.64C23.0922 6.48 22.9787 6.29333 22.9787 6.08V4.48H9.02128V5.92C9.02128 6.13333 8.93617 6.34667 8.76596 6.56C8.59574 6.77333 8.36879 6.88 8.08511 6.88C7.80142 6.88 7.57447 6.8 7.40425 6.64C7.23404 6.48 7.0922 6.29333 6.97872 6.08V5.92V4.48Z" fill="#747474"/>
        </svg>
          
      </span>
      <p class="main-text">{{message}}</p>
      <div class="text-wrap"><span class="text">
        {{comment}}
      </span>
      <span class="text"> </span></div>
      
      <button class="button">
        На главную
      </button>
    </div>
   
    <div class="bottom">
      <span class="bottom-text">Работает на</span> <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path opacity="0.8" d="M11.3125 22C5.07335 22 0.0152006 17.0803 0.0152006 11.0114C0.0152006 4.94251 5.07278 0.0233822 11.3125 0.0233822" fill="#AAAAAA"/>
        <path d="M11.4428 22C9.86913 22 8.01499 17.2919 8.01499 11.223C8.01499 5.15405 9.86913 0.0233803 11.4428 0.0233803C13.0165 0.0233803 13.9609 4.94306 13.9609 11.0114C13.9609 17.0798 13.0165 22 11.4428 22Z" fill="#EEEEEE"/>
        <path d="M20.2375 12.0924C20.269 12.9875 20.356 13.8802 20.4978 14.7661C20.5445 15.0492 20.5971 15.3322 20.673 15.6104C20.7162 15.773 20.7635 15.9552 20.8621 16.0984C20.9034 16.1618 20.9645 16.2121 21.0372 16.2426C21.073 16.2578 21.1118 16.2656 21.1511 16.2656C21.1904 16.2656 21.2292 16.2578 21.2649 16.2426C21.4214 16.184 21.4949 16.0203 21.5457 15.8706C21.6136 15.6536 21.6648 15.4324 21.6986 15.2086C21.8309 14.4034 21.9155 13.5921 21.952 12.7783C22.01 11.7354 22.0154 10.6914 21.9683 9.64639C21.9363 8.79714 21.8574 7.94998 21.7319 7.10822C21.696 6.85398 21.6447 6.60181 21.5784 6.3529C21.5334 6.19457 21.4768 5.98907 21.3145 5.89851C21.1038 5.78031 20.9059 5.92562 20.8172 6.10293C20.7282 6.30098 20.6622 6.5073 20.6204 6.71836C20.45 7.46067 20.3636 8.22305 20.3011 8.97945C20.2162 10.0151 20.195 11.0545 20.2375 12.0924ZM20.7909 9.76569C20.8131 9.31961 20.8477 8.87426 20.8948 8.42963C20.9158 8.23497 20.9392 8.04086 20.966 7.84728C20.966 7.82234 20.9724 7.79794 20.9759 7.773C20.9759 7.76649 20.9759 7.76161 20.9759 7.75781C20.9759 7.75402 20.9759 7.74914 20.9759 7.74317L20.9935 7.62551C21.0063 7.54309 21.0197 7.46122 21.0337 7.37988C21.0641 7.20474 21.0974 7.0296 21.1376 6.85609L21.1499 6.91953C21.1768 7.06105 21.1995 7.20366 21.2211 7.3468V7.35602V7.36633C21.2246 7.38856 21.2275 7.41079 21.2305 7.43248C21.2357 7.47098 21.241 7.50893 21.2456 7.54689C21.2573 7.63473 21.2678 7.72311 21.2783 7.81095C21.325 8.21762 21.3601 8.62429 21.3863 9.03313C21.4552 10.0204 21.4741 11.0079 21.443 11.9959C21.4179 12.8493 21.363 13.7039 21.2544 14.5514C21.248 14.5975 21.2421 14.643 21.2357 14.6891C21.2357 14.7016 21.227 14.7515 21.2252 14.7661C21.2147 14.8371 21.2036 14.9087 21.1919 14.9798C21.1764 15.0752 21.159 15.1703 21.14 15.265C21.119 15.1728 21.0995 15.0802 21.0816 14.9873C21.0512 14.8317 21.0232 14.6761 20.9999 14.5194L20.9789 14.3784C20.9789 14.3784 20.9789 14.3719 20.9789 14.3676C20.9754 14.3448 20.9724 14.322 20.9689 14.2993C20.9561 14.2053 20.9438 14.1115 20.9322 14.0178C20.8804 13.5931 20.8415 13.1673 20.8154 12.7403C20.7494 11.7499 20.7413 10.7569 20.7909 9.76569Z" fill="#EEEEEE"/>
        <path d="M17.1289 20.2656C15.7165 20.2656 14.5714 16.1229 14.5714 11.012C14.5714 5.90114 15.7165 1.759 17.1289 1.759C18.5414 1.759 19.3281 5.9017 19.3281 11.012C19.3281 16.1224 18.5388 20.2656 17.1289 20.2656Z" fill="#EEEEEE"/>
        </svg>
<span class="bottom-text" style="font-size: 18px; font-weight: 400; ">Telebon</span>        
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const elements = {
        button: document.querySelector('.button')
      }

      elements.button.addEventListener('click', () => {
        window.location.href = `/?uniq=${localStorage.getItem('uniq')}`;
      })
    });
  </script>
</body>
</html>